* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (max-width: 900px) {
  .universal-layout-container {
    padding: 40px 8px 0 8px; /* También aumenta en móvil/tablet */
  }
}